:root {
  --prime-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --secondary-text-color: #ffffff;
  --primary-bg-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --button-bg-color: rgba(245, 244, 250, 1);
  --border-color: rgba(236, 236, 236, 1);
}
/*тип блочной модели*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--prime-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*убирает точки в списке*/
.list {
  list-style: none;
  color: inherit;
}
/*убирает подчеркивание ссылок*/
.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
}

/*шапка*/
.page-header {
  border-bottom: 1px solid var(--border-color);
}
.main-nav {
  display: flex;
}

/*логотип*/
.link-logo {
  display: inline-block;

  min-width: 145px;
  padding-top: 24px;
  padding-bottom: 24px;

  color: black;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--accent-text-color);
}

/*ссылки активные*/
.link:hover,
.link:focus {
  color: var(--accent-text-color);
  cursor: pointer;
}

/*навигационные ссылки*/
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: inline-flex;
  margin-left: 93px;
  align-items: center;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav > .item {
  display: flex;
  margin-right: 50px;
}

.site-nav > .item:last-child {
  margin-right: 0;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .current {
  color: var(--accent-text-color);
}

/*контакты*/
.auth-nav {
  display: flex;
  margin-left: auto;

  color: var(--prime-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav > .item {
  display: flex;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

/*утилиты*/
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/*герой*/
.hero {
  color: var(--secondary-text-color);
  background-color: #2f303a;
}
.hero-container {
  display: block;
  width: 696px;
}

.hero-title {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  color: var(--secondary-text-color);

  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

/*кнопка*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  min-width: 200px;
  padding: 10px 30px;
}
.hero .button {
  background-color: var(--accent-text-color);
  color: var(--secondary-text-color);

  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;

  border: 1px solid transparent;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-text-color);
  cursor: pointer;
}

/*Раздел преимущества*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}
/*скрытый заголовок*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  margin-bottom: 0;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}

.card-set .features-item {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-right: 30px;
  margin-top: 30px;
}

.card-set .features-item:last-child {
  margin-left: 0;
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  width: 270px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*чем мы занимаемся*/
.no-padding {
  padding-top: 0;
}

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.works .item {
  display: flex;
  margin-right: 30px;
}
.works .item:last-child {
  margin-right: 0;
}
img {
  display: inline-block;
}

/*наша команда*/
.section.team {
  background-color: var(--secondary-bg-color);
}

.team-image {
  margin-bottom: 30px;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
}

.card-set .team-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 4 * 30px) / 4);
  padding-bottom: 30px;
  margin-right: 30px;
  margin-top: 30px;
  text-align: center;
}

.card-set .team-item:nth-child(4n + 4) {
  margin-right: 0;
}
.team-title {
  display: inline-block;
  width: 270px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*подвал*/
footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--footer-bg-color);
  color: var(--secondary-text-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .link-logo {
  color: var(--secondary-text-color);
}
.address {
  font-style: inherit;
  margin-top: 20px;
}
.address-link {
  color: var(--secondary-text-color);
}
.footer-link {
  color: var(--footer-text-color);
}

/*сss для портфолио*/
.container .filter-box {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.filter-button {
  margin-bottom: 30px;
  margin-right: 8px;
  padding-bottom: 22px;

  border: 1px solid transparent;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--button-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  padding-top: 6px;
  background-color: var(--accent-text-color);
  color: var(--secondary-text-color);
  cursor: pointer;
}

.filter-button:last-child {
  margin-right: 0;
}

.card-set .galery-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 3 * 30px) / 3);
  padding-bottom: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

.card-set .galery-item:nth-child(3n + 3) {
  margin-right: 0;
}

.galery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
